html {
	font-family: var(--font-sans);
	line-break: strict;
	overflow-wrap: anywhere;
	scrollbar-gutter: stable;
}

body {
	min-block-size: 100dvb;
}

:where(ul, ol, menu) {
	list-style-type: '';
}

:where(svg, picture, audio, canvas, model, iframe, embed, object) {
	max-inline-size: 100%;
}

:where(fieldset) {
	min-inline-size: 0;
}

:where(button, input:is([type='button'], [type='submit'], [type='reset']), [role='button'], [role='tab'], [role='option']),
::file-selector-button {
	touch-action: manipulation;
}

:where([aria-disabled='true']) {
	cursor: default;
}

:where(dialog, [popover]) {
	overscroll-behavior-block: contain;
}

:where(dialog:not([open], [popover]), [popover]:not(:popover-open)) {
	display: none !important;
}
