@import 'tailwindcss';

@theme {
	--font-sans: 'Noto Sans JP', sans-serif;
}

@layer base {
	html {
		line-break: strict;
		overflow-wrap: anywhere;
		scrollbar-gutter: stable;
	}

	body {
		min-block-size: 100dvh;
	}
}
